* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background: hsl(0, 0%, 95%);
}

.container {
  width: 100%;
  height: 98vh;
  margin: 0 auto;
  line-height: 1.6;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  margin: 200px auto;
}

.box {
  padding: 35px;
  color: hsl(0, 0%, 95%);
}

.box h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 30px;
  color: hsl(0, 0%, 95%);
}
.box p {
  margin-top: 25px;
  margin-bottom: 40px;
  color: hsla(0, 0%, 100%, 0.75);
}

.box1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box2 {
  background-color: hsl(184, 100%, 22%);
}
.box3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  display: inline-block;
  border: 1px solid white;
  width: 150px;
  height: 45px;
  font-size: 15px;
  padding: 10px;
  border-radius: 35px;
  margin-top: 50px;
}

.btn-1 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
}
.btn-1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}
.btn-2 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
}
.btn-2:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
.btn-3 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
}
.btn-3:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

/* media  query */

@media (max-width: 820px) {
  * {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .btn {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .boxes {
    width: 90%;
    margin-top: 100px;
    grid-template-columns: 1fr;
  }

  .box h1 {
    font-size: 2.8rem;
  }

  .box1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .box3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
}
